<html>
    <head>
        
    </head>
    <body>
        <ul>
            <li><a  href="index" >Register</a></li>
            <li><a href="data">Data </a></li>
        </ul>
    </body>
        </html>
